/Ultima.Package/bin
/Ultima.Package/obj
/Ultima.Spy/bin
/Ultima.Spy/obj
/Ultima.Analyzer/bin
/Ultima.Analyzer/obj
/Ultima.Spy.Application/bin
/Ultima.Spy.Application/obj
*.csproj.user
*.suo
/.idea
*.DotSettings.user
*.log
*.bin
.vs/
drng64.dll
drng32.dll
libdrng.so